@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  --rebecca-purple: hsl(270, 60%, 15%);
  background-image: linear-gradient(to bottom right,
      hsla(203, 92%, 35.5%, 0.25),
      var(--rebecca-purple),
      hsla(27.6, 87.1%, 35.7%, 0.25));
  background-color: var(--rebecca-purple);
}

.btn_hov:hover {
  background-color: yellow !important;
}

.iansui-regular {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav_btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bg_origin {
  background-color: oklch(0.666 0.179 58.318);
}

.eqZPsd {
  color: white !important;
}